[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"

[dev-packages]
mypy = "*"
pytest = "*"
ivf_adc = {editable = true, path = "."}

[requires]
python_version = "3.10"
